include CHANGELOG.md
include LICENSE
include README.md
include base_requirements.txt
include dila/alembic.ini
recursive-include dila/frontend/flask/templates/ *
recursive-include dila/frontend/flask/static/ *
prune tests
