{% extends "layout.html" %}
{% block body %}
<form method="POST" action="{{ url_for('main.home') }}" enctype=multipart/form-data>
{{ form.csrf_token }}
{{ form.new_resource_name.label }} {{ form.new_resource_name }}
<input id="add_new_resource" value="Add" type="submit">
</form>
{% if resources %}
    <table>
        {% for resource in resources %}
            <tr>
                <td>
                    <a href="{{ url_for('main.resource', resource_pk=resource.pk) }}">
                        {{ resource.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
<p>There are no resources.</p>
{% endif %}

{% endblock %}
